<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Edvances</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:400,300,700'>
    <link rel="stylesheet" type="text/css" href="/style.css" />

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    
    <script src="/lodash/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

    <script src="/angular/angular.js"></script>
    <script src="/angular-mocks/angular-mocks.js"></script>
    <script src="/ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/rangy/rangy-core.js"></script>
    <script src="/rangy/rangy-classapplier.js"></script>
    <script src="/rangy/rangy-highlighter.js"></script>
    <script src="/rangy/rangy-selectionsaverestore.js"></script>
    <script src="/rangy/rangy-serializer.js"></script>
    <script src="/rangy/rangy-textrange.js"></script>
    <script src="/textAngular/src/textAngular.js"></script>
    <script src="/textAngular/src/textAngular-sanitize.js"></script>
    <script src="/textAngular/src/textAngularSetup.js"></script>
    <script src="/fullcalendar/fullcalendar.js"></script>
    <script src="/angular-ui-calendar/src/calendar.js"></script>
    <script src="/perfect-scrollbar/src/perfect-scrollbar.js"></script>
    <script src="/angular-perfect-scrollbar-4.1.1fixed/src/angular-perfect-scrollbar.js"></script>
    <script src="/Chart.js/Chart.js"></script>
    <script src="/angular-chart.js/dist/angular-chart.js"></script>
    <script src="/d3/d3.js"></script>
    <script src="/c3/c3.js"></script>
    <script src="/c3-angular/c3js-directive.js"></script>
    <script src="/angular-loading-bar/build/loading-bar.js"></script>
    <script src="/angular-growl-v2/build/angular-growl.js"></script>
    <script src="/angular-growl-notifications/dist/angular-growl-notifications.js"></script>
    <script src="/waypoints/lib/noframework.waypoints.min.js"></script>
    <script src="/SHA-1/sha1.js"></script>
    <script src="/angulartics/src/angulartics.js"></script>
    <script src="/angulartics/src/angulartics-adobe.js"></script>
    <script src="/angulartics/src/angulartics-chartbeat.js"></script>
    <script src="/angulartics/src/angulartics-clicky.js"></script>
    <script src="/angulartics/src/angulartics-cnzz.js"></script>
    <script src="/angulartics/src/angulartics-flurry.js"></script>
    <script src="/angulartics/src/angulartics-ga-cordova.js"></script>
    <script src="/angulartics/src/angulartics-ga.js"></script>
    <script src="/angulartics/src/angulartics-gtm.js"></script>
    <script src="/angulartics/src/angulartics-kissmetrics.js"></script>
    <script src="/angulartics/src/angulartics-mixpanel.js"></script>
    <script src="/angulartics/src/angulartics-piwik.js"></script>
    <script src="/angulartics/src/angulartics-scroll.js"></script>
    <script src="/angulartics/src/angulartics-segmentio.js"></script>
    <script src="/angulartics/src/angulartics-splunk.js"></script>
    <script src="/angulartics/src/angulartics-woopra.js"></script>
    <script src="/angulartics/src/angulartics-marketo.js"></script>
    <script src="/angulartics/src/angulartics-intercom.js"></script>
    <script src="/angulartics/src/angulartics-inspectlet.js"></script>
    <script src="/angulartics/src/angulartics-newrelic-insights.js"></script>


    <script src="/angular-material/angular-material.js"></script>
    <script src="/angular-aria/angular-aria.js"></script>
    <script src="/material-calendar/dist/angular-material-calendar.js"/>


    <script src="/angular-bootstrap/ui-bootstrap.js"></script>
   
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <div id="main" ui-view></div>
</body>
</html>
