<nav class="navbar navbar-static-top not-collapse bg-g-ln-gray" role="navitagion">
    <div class="navbar-header">
        <a class = "navbar-brand" ui-sref="home" class="hover-white-shade-bg">
            <img src="asset/images/Edvances Logo.png" id="logo"/>
        </a>
    </div>
    <div id="top-nav">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ng-if="(user)" ng-click="logout()" class="m-lr-30 mm-lr-10">Logout</a>
            </li>
            <li ng-if="(!user)" class="m-lr-30 mm-lr-10">
                <a ui-sref="login" class="m-lr-30 mm-lr-10">
                    Login
                </a>
            </li>
        </ul>
        <div ng-if="(user)" class="navbar-right navbar-avatar">
            <a ui-sref="profile" class = "m-lr-30 mm-lr-10">
                <span class="text-gray-light hidden-sm hidden-xs">Welcome&nbsp;{{name}}!</span>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class = "navLink" ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            
            
        </ul>
        
    </div>
</nav>