.splashTitleSmall{
  color: rgba(243, 186, 76, 0.71);
  font-family: 'Montserrat', sans-serif; 
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  z-index:
}

.splashTitleBig{
  color: rgba(243, 186, 76, 0.71);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  z-index:3
}

.puzzle-header{
  height: 100vh;
  padding-top: 30vh;
  background-image: url("asset/images/chalkbord1.jpg");
  background-size: 100% 100%;
}

.puzzle-peice-1{
  height:80vh;
  border-top: 5px solid #f79a01;
  background-color: #434346;
}

.puzzle-peice-1-left{
  border-left: 5px solid #f79a01;
  height: 100%;
  background-image: url("http://i.istockimg.com/image-zoom/85917903/3/268/380/stock-photo-85917903-book-of-imagination.jpg");
}

.puzzle-peice-1-right{
  border-left: 5px solid #f79a01;
  border-right: 5px solid #f79a01;  
  height: 100%;
  background-color: lighten(#434346, 80%);

  .splashTitleBig{
    color: #434346;
    font-size: 40px;
  }
  .splashTitleSmall{
    color: #434346;
    text-align: left;
    font-size: 20px;
  }

}
.fade{

    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #245030;
    z-index: 2;

}
.puzzle-peice-2{
  height:80vh;
  border-top: 5px solid #f79a01;
  border-bottom: 5px solid #f79a01;
  background-color: #434346;
}

.puzzle-peice-2-left{
  border-left: 5px solid #f79a01;
  height: 100%;
  background-color: lighten(#434346, 80%);

   .splashTitleBig{
    color: #434346;
    font-size: 40px;
  }
  .splashTitleSmall{
    color: #434346;
    text-align: left;
    font-size: 20px;
  }
}

.puzzle-peice-2-right{
  border-left: 5px solid #f79a01;
  border-right: 5px solid #f79a01;
  height: 100%;
  background-image: url("http://i.istockimg.com/image-zoom/39406662/3/253/380/stock-photo-39406662-education-tower.jpg");
}

.puzzle-peice-box{
  padding-top: 50%;
}

.page-breaker{
  height: 20vh;
}

.ten-height{
  height: 10vh;
}

.puzzle-break{
   height: 20vh;
   border-top: 5px solid #f79a01;
   background-color: lighten(#434346, 80%);

   .splashTitleBig{
   font-size: 20px;
   }

   .splashTitleSmall{
   font-size: 10px;
   }
}


.puzzle-break-box{
  padding-top: 3%;
  .splashTitleBig{
    color: #434346;
  }

   .splashTitleSmall{
    color: #434346;
  }

}

.teacher-button{
  border: none;
  padding: 40px;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 300px;
  font-size: 20px;
  z-index:3
  }

.student-button{
  border: none;
  padding: 40px;
  background: transparent; 
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 300px;
  font-size: 20px;
  z-index:3
}

.student-button:focus{
  outline:none;
}

.teacher-button:focus{
  outline:none;
}

.Section-1-button{
  position: absolute;
  bottom: 10px;
  left: 40vw;
  margin: 0;
  z-index: 100;
}

.puzzle-resource{
  height: 100vh;
  background-color: #434346;
}
