<div>
	<div class="pos-rel">
		<div class="check-element animate-show" ng-show="checked">
	 		<div class="input-group">
				<label class="checkbox1 animated bounceInRight pull-left" style="padding-top:5px;" for="taskCheck">
					<input id="taskCheck" type="checkbox" class=""  ng-model="checked" aria-label="Toggle ngShow">
					<span></span>
				</label>

                <input type="text" class="input-large input-light brad form-control" placeholder="New Task" style="width:92%;" placeholder="" ng-model="formTodoText" ng-model-instant >
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="addTodo()" type="submit">Add</button>
                </span>
            </div>
		</div>

		<div class="check-element animate-show" ng-hide="checked">
			<span class="text-gray-dark text-large align-with-button pos-abs hidden-xs">Your Tasks</span>
			<label class="checkbox1 animated bounceInRight pull-right" style="padding:0;" for="taskCheck">
				<input id="taskCheck" type="checkbox" class=""  ng-model="checked" aria-label="Toggle ngHide">
				<span></span>
			</label>
	 	</div>
	</div>

	<hr class="m-b-0">

	<div id="tasks-list" class="tasks-wrapper">
		<div class="todo-body">
			<ul class="list-editable unstyled todo-list">
				<li ng-repeat="todo in todos">
					<label class="checkbox1 animated bounceInRight" for="{{todo.id}}">	
						<input id="{{todo.id}}" type="checkbox" class="" ng-model="todo.done">
						<span></span>
					</label>
					<span class="done-{{todo.done}} animated bounceInRight">{{todo.text}}</span>
				</li>
			</ul>
		</div>	
	</div>
</div>
