	<!-- DASHBOARD TAB -->
	<div class="bg-white b-1px-gray-light b-top-none brad-bottom brad-tr b-bot-2px-gray-light margin-30">

			<div class="tab-pane bg-white fade in p-30" id="dashboard">

				<h1 class="text-center font-w-100 welcome-message">Welcome back <span class="text-blue">John Doe</span></h1>
				<div class="row row-centered">
					<p class="text-gray-alt text-uppercase text-center col-lg-8 col-centered">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quis, ipsam saepe voluptas rem possimus quas tenetur iusto dolorem architecto tempore fugiat amet iure distinctio quia vel consequuntur aut quod!</p>
				</div>

				<div class="row">
					
					<div class="col-sm-6 m-b-30">
						<todolist></todolist>
					</div>

					<div class="col-sm-6">
						<!-- SOCIAL STREAM -->

						<span class="text-gray-dark text-large align-with-button pos-abs hidden-xs">
							Your Recent Updates
						</span>
						<span class="hidden-sm hidden-md hidden-lg text-gray-dark text-large align-with-button ">
							Social
						</span>

						<div class="btn-group pull-right">
							<button class="btn btn-primary">
								<i class="glyphicon glyphicon-cog text-white"></i>
							</button>
						</div>

						<hr class="m-b-0">
						
	  					<div id="social-feed" class="social-feed">

		  					<ul class="lifestream">
		  						<li class="lifestream-rss">
		  							<a class="orange-link">Sooch Johal</a> posted <a href="http://qz.com/723127/after-10-years-and-billions-in-fines-the-uk-has-convicted-precisely-five-people-for-rigging-interest-rates/">After 10 years and billions in fines, the UK has convicted precisely five people for rigging interest rates</a> in <a class="orange-link">History 404</a> 
		  						</li>

		  						<li class="lifestream-rss">
		  							<a class="orange-link">Stan Le</a> posted <a href="http://qz.com/723212/saudi-tv-reports-a-suicide-bombing-near-the-prophets-mosque-in-medina-one-of-islams-holiest-sites/">Saudi TV reports a suicide bombing near the Prophet’s Mosque in Medina, one of Islam’s holiest sites</a> in <a class="orange-link">Science 200</a>
		  						</li>

		  						<li class="lifestream-rss">
		  							<a class="orange-link">Bill Chamberland</a> posted <a href="http://qz.com/721774/what-its-like-to-chase-icelands-biggest-volcanic-eruption-in-200-years/">What it’s like to chase Iceland’s biggest volcanic eruption in 200 years</a> in <a class="orange-link">Geography 102</a>
		  						</li>

		  						<li class="lifestream-rss">
		  							<a class="orange-link">Bob Ross</a> posted <a href="http://qz.com/723039/kenyan-police-are-routinely-executing-citizens-and-the-public-is-finally-saying-stop/">Kenyan police are routinely executing citizens and the public is finally saying stop</a> in <a class="orange-link">English 300</a>
		  						</li>

		  						<li class="lifestream-rss">
		  							<a class="orange-link">Wesley Sniperino</a> posted <a href="http://qz.com/723126/photographer-bill-cunningham-left-the-fashion-world-some-brilliant-advice-on-how-to-dress-millennials/">Photographer Bill Cunningham left the fashion world some brilliant advice on how to dress millennials</a> in <a class="orange-link">Math 101</a>
		  						</li>
		  					</ul>
	  					</div>

					</div>

				</div>

				<div class="row">

					<div class="col-sm-6">
						<!-- EVENTS CALENDAR -->
						<span class="text-gray-dark text-large align-with-button hidden-xs">
							Your events
						</span>

						<hr>

						<div class="cal1" id="events-calendar">
							<calendar></calendar>
						</div>
					</div>
					
					<div class="col-sm-6">
						<!-- EVENTS CALENDAR 2 -->

						<span class="text-gray-dark text-large align-with-button hidden-xs">
							Your Calendar
						</span>
						<span class="hidden-lg hidden-md hidden-sm text-gray-dark text-large align-with-button">
							Events
						</span>

						<div class="btn-group pull-right">
							<div class="btn btn-primary" ng-click="open()">
								Add
							</div>
						</div>
						<hr>

						<div class="cal1" id="events-calendar">
							<calendar-md flex layout layout-fill
								    calendar-direction="horizontal"
								    on-prev-month="prevMonth"
								    on-next-month="nextMonth"
								    on-day-click="dayClick"
								    title-format="'MMMM y'"
								    ng-model='selectedDate'
								    week-starts-on="firstDayOfWeek"
								    tooltips="tooltips"
								    day-format="dayFormat"
								    day-label-format="'EEE'"
								    day-label-tooltip-format="'EEEE'"
								    day-tooltip-format="'fullDate'"
								    day-content="setDayContent"
								    disable-future-selection="false">
							</calendar-md>
						</div>
					</div>


				</div>
			</div>