<form class="form-horizontal" role="form" id="aboutYouForm" novalidate name="aboutYouForm" >
  <fieldset>

      <div class="row">
          <div class="form-group">
              <div class="line-fix">
                <label class="control-label" for="aboutYouFirstName">First Name</label>
                <div class="controls">
                      <input class="form-control" type="text" id="aboutYouFirstName" name="name" data-ng-model="userData.firstName"
                         maxlength="20" placeholder="Your first name" data-ng-required="true" data-ng-disabled="disabled" required/>
                </div>
              </div>
          </div>
      </div>
      <div class="row">
            <div class="form-group">
                <div class="line-fix">
                  <label class="control-label" for="aboutYouLastName">Last Name</label>
                  <div class="controls">
                        <input class="form-control" type="text" id="aboutYouLastName" name="name" data-ng-model="userData.lastName"
                           maxlength="20" placeholder="Your last name" data-ng-required="true" data-ng-disabled="disabled" required/>
                  </div>
                </div>


        </div>
      </div>

        <div class="row">
                <div class="form-group">
                    <div class="line-fix">
                        <label for="aboutYouTitle" class="control-label">Title</label>
                        <div class="controls">
                            <input class="form-control" type="text" id="aboutYouTitle" name="title" data-ng-model="userData.title"
                                   maxlength="20" placeholder="A Descriptive Title" data-ng-required="true" data-ng-disabled="disabled" required/>
                        </div>
                    </div>
                </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="line-fix">
                    <label class="control-label" for="dateOfBirth">Date of Birth</label>
                    <div class="controls">
                    <input class="form-control" type="date" id="dateOfBirth" name="dateOfBirth" data-ng-model="userData.dob"
                        placeholder="Date" data-ng-required="true" data-ng-disabled="disabled" required/>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </fieldset>
</form>
