<form name="personalStatementForm" id="personalStatementForm" novalidate>
        <div class="row">
                <div class="form-group">
                    <div class="controls" id="personalStatementControl">
                        <textarea class="form-control" cols="100" rows="10" type="text" id="statement" name="statement" data-ng-model="userData.statement"
                               maxlength="500" placeholder="What do you love most about teaching?" data-ng-required="true" data-ng-disabled="disabled">
                        </textarea>
                    </div>
                </div>
        </div>


</form>

