<form class="form-horizontal" role="form" novalidate>
    <fieldset>
        <div class="row">
                <div class="form-group">
                    <div class="line-fix">
                    <label class="control-label" for="area">Area</label>
                    <div class="controls">
                        <input class="form-control" type="text" id="area" name="area" data-ng-model="userData.area"
                               maxlength="30" placeholder="Area of Expertise" data-ng-required="true" data-ng-disabled="disabled"/>
                    </div>
                    </div>
                </div>
        </div>


        <div class="row">
            <div class="form-group">
                <div class="line-fix">
                    <label class="control-label" id="gradeLevelOneLabel" for="gradeLevelOne">First Choice</label>
                    <select class="form-control" ng-model="userData.grades.gradelevelone" id="gradeLevelOne">
                      <option value="elementarySchool">Elementary School
                      <option value="middleSchool">Middle School
                      <option value="highSchool">High School
                      <option value="university">University
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="line-fix">
                    <label class="control-label" id="gradeLevelTwoLabel" for="gradeLevelTwo">Second Choice</label>
                    <select class="form-control" ng-model="userData.grades.gradeleveltwo" id="gradeLevelTwo">
                      <option value="elementarySchool">Elementary School
                      <option value="middleSchool">Middle School
                      <option value="highSchool">High School
                      <option value="university">University
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="line-fix">
                    <label class="control-label" id="gradeLevelThreeLabel" for="gradeLevelThree">Third Choice</label>
                    <select class="form-control" ng-model="userData.grades.gradelevelthree" id="gradeLevelThree">
                      <option value="elementarySchool">Elementary School
                      <option value="middleSchool">Middle School
                      <option value="highSchool">High School
                      <option value="university">University
                    </select>
                </div>
            </div>
        </div>
    </fieldset>
</form>
