
.jitsiContainer{
	height: 33vh;
	width: 100%;
}
.chatroom-col{
  height: 70vh;
}
#body-container{

.classroom-container{
  height:100%;
  width: 100%;
}
.reverse{
	moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.glyphicon{
	font-size:xx-large;
}
.sidebar-container{
	width:4.5%;
}
.class-sidenav{
	text-align:center;
	padding-top:15px;
<<<<<<< HEAD
	float:left;
}
.sidebar-icon{
	font-size:x-large;
}
.active{
	background-color:red !important;
}
.icon-container{
	padding:0;
	cursor:pointer !important;
	z-index:100;
}
.icon-container:focus{
	outline:0;
}
.sidebar-icon-container{
	width:6vh;
	height:10vh;
	padding-top:15px;
	cursor:pointer;
	border-radius:15px 0 0 15px;
	background-color:white;
	border:none;
}
.sidebar-icon-text{
	font-size:.8em;
}
.sidebar-icon-container:hover{
	text-decoration:none;
}
.sidebar-icon-container:focus{
	outline:0;
}

.classroom-view{
	height:100%;
	padding:0;
	background-color:white;
}

#classroomTopRow{
  margin-top: 5px;
}

.chat-message{
  padding-bottom: 20px;
}
#messages{
  padding:0;
  magrin:0;
}
.username{
  border:1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 4px 0.2px #969696;
  padding: 2px;
}
#chatroom-panel{
  height: 70vh;
  magin-bottom: 0;
}
.chatbody{
  height: 90%;
  position: relative;
}

.chat-wrap{
  height: 100%;
}

.chat-form{
  position: absolute;
  bottom: 0;
}

#messagesContainer{
  height:85%;
  margin:0;
  position: absolute;
}

#inputContainer{
  margin-bottom: 0;

  #message{
    position: relative;
    left: 5px;
    bottom: 5px;
  }

  #send{
    position: absolute;
    right: 20px;
    bottom: 26px;
  }
}

.classroom-message{
	margin-top:3%;
	margin-bottom:2%;
}
.whiteboard-container{
  height:80vh;
  margin: 0 auto;
}

.classroom-navbar{
  border: 1px solid black;
<<<<<<< HEAD
  padding:15px 0 0 0;
}
=======
  padding-top:15px;
}

>>>>>>> c4d3a96a27653c4060a6cd500f0d76235fbf7d92
