.jitsiContainer{
	height: 33vh;
	width: 100%;
}
.chatroom-col{
  height: 70vh;
}
#body-container{

}
.welcome-container{
  margin-left:15px;
}
#panel1Heading{
 background-color: #D57D6D;
}

#panel2Heading{
  background-color: #A2D19E;
}

#panel3Heading{
  background-color: #E8B769;
}
#classroomTopRow{
  margin-top: 5px;
}

.chat-message{
  padding-bottom: 20px;
}
#messages{
  padding:0;
  magrin:0;
}
.username{
  border:1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 4px 0.2px #969696;
  padding: 2px;
}
#chatroom-panel{
  height: 70vh;
  magin-bottom: 0;
}
.chatbody{
  height: 90%;
  position: relative;
}

.chat-wrap{
  height: 100%;
}

.chat-form{
  position: absolute;
  bottom: 0;
}

#messagesContainer{
  height:85%;
  margin:0;
  position: absolute;
}

#inputContainer{
  margin-bottom: 0;

  #message{
    position: relative;
    left: 5px;
    bottom: 5px;
  }

  #send{
    position: absolute;
    right: 20px;
    bottom: 26px;
  }
}
