
.back{
  position:absolute;

}
.monthSelector{
  text-align: center;
  font-weight: bold;
  font-size:1.4em;
  margin-top:20px;
  margin-bottom:10px;
}
.table > tbody > tr > th{
	text-align: center;
	font-size: 1.2em;
	font-weight:bold;
}

#tableContainer{
	overflow:auto;
	height:65vh;
}
.dataTable > tbody > tr > td{
	border: 1px solid black;
	text-align: center;
}
.title{
  color:#d9534f;
  text-align: center;
}

.tableHolder{
  padding:0;
}
//d3 CSS

.highlighted{
	background-color:rgba(194,194,228, 0.8) !important;
}

.bar{
	fill:steelblue;
}

.bar:hover {
  fill: brown;
}



.d3-tip {
  line-height: 1;
  font-size:8;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 1px;
}

.svg-container{
	width:100%;
	margin:0 auto;
}

.graphTitle{
	margin:0;
	text-align:center;
	text-decoration:underline;
}

.graphLink{
	list-style:none;
	font-size:1.5em;
	margin-left:5%;
}

.subheader{

}
text {
    font-family: sans-serif;
    font-size: 12px;
    fill: black;
}
.key{
	color:black;
}
.val{
	color:black;
}
.tip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}
.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.focus text{
	font-weight: bold;
}