.navbar {

  display: block;
  background: $title-dark-grey;
  width:100%;
  margin-bottom:0;
  height: 7%;
  .container {
    width:100%;
  }

  a {
    color: white;
    font-family: "Lato", sans-serif !important;
    font-size: 16px;
  }

  .nav{
    display:inline-block;
    li{
      margin-right:5px;
    }
  }
  .nav > li > a {

    cursor: pointer;
    transition: color 0.2s;

    &.active {
      background-color:white;
      border-radius: 50%;
      color: $title-dark-grey;
    }
    &:hover {
      background: none;
      color: darken($title-light-grey, 20%);
    }
    &:focus {
      background-color:white;
      border-radius:50%;
    }
  }

  .login-button {
    float: right;
    border: 1px solid white;
    margin-top: 10px;
    background: white;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      font-family: "Lato", sans-serif !important;
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
