<div class="back">
    <div class="errors col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-2 col-md-8 col-mg-offset-2">
        <div class="login-outer">
            <div class="login-wrap">
                <div class="login-left striped-bg text-center">
                    <a ui-sref="home" class="logo-lg" href=""><img id="login-logo" src="asset/images/Edvances logo color.png"/></a>
                </div>
                <div class="login-right striped-bg">
                    <div>
                        <div class="heading ng-scope">Login to your Account</div>
                        <div class="input">
                            <form class="form-horizontal ng-pristine ng-valid" role="form" ng-submit="submit()">
                                <input type="hidden" name="_token" value="6z7mfMW1GwKzG2sgsG9icqN1bfcJTooGwIOySP22">
                                <div class="login-input-group">
                                    <span class="login-input-group-addon">
                                        <i class="fa fa-at fa-fw"></i>
                                    </span>
                                    <input ng-model="loginInfo.email" type="email" class="form-control" name="email" placeholder="Email">
                                </div>
                                <div class="login-input-group">
                                    <span class="login-input-group-addon">
                                        <i class="fa fa-key fa-fw"></i>
                                    </span>
                                    <input ng-model="loginInfo.password" type="password" class="form-control" placeholder="Password" name="password">
                                </div>
                                <button ng-click="sendLogin(loginInfo)" class="btn btn-default btn-lg submit">Login</button>
                            </form>
                            <div class="login-other text-right">Or Login with
                                <a href="javascript:;" class="m-l-sm">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="javascript:;" class="m-l-sm">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="javascript:;" class="m-l-sm">
                                    <i class="fa fa-google-plus gplus">
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="rightFooter ng-scope">
                            <div class = "container">
                                <div class = "row">
                                    <span>Don't have an Account?</span>
                                </div>
                                <div class = "row">
                                    <a ui-sref="signupTeacher">I'm a Teacher</a>
                                    <a ui-sref="signupStudent">I'm a Student</a>
                                </div>
                            </div>

                            <a ui-sref="forgot-password" class="m-l" href="">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>