.welcome-message{
	font-size:4em;
	text-decoration:underline;
	margin-top:10px;
	margin-bottom:12px;
}

.calendar-wrapper > .today > .date{
	font-size:60px;
    text-align: center;
}

.calendar-wrapper > .today > .month{
	font-size:30px;
    text-align: center;
}

.text-col > h2{
	font-weight:500;
	font-size:40px;
}

#event-list-box{
  margin-top: 10px;
}

#dashboard-container{
  background-color: #EEE;
}

.schedulePanel{
	height:40vh !important;
	.scheduleBody{
		height:85%;
	}
}

.halfHour{
	height:20px;
}