* {
  box-sizing: border-box; }

body {
  background: #fdfdfd; }

#main {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto; }

.row {
  margin: 0; }

.navbar {
  display: block;
  background: #0F70B7;
  width: 100%;
  margin-bottom: 0; }
  .navbar .container {
    width: 100%; }
  .navbar a {
    color: white;
    font-size: 16px; }
  .navbar .nav {
    display: inline-block; }
    .navbar .nav li {
      margin-right: 5px; }
  .navbar .nav > li > a {
    cursor: pointer;
    transition: color 0.2s; }
    .navbar .nav > li > a.active {
      background-color: white;
      border-radius: 50%;
      color: #0F70B7; }
    .navbar .nav > li > a:hover {
      background: none;
      color: #073659; }
    .navbar .nav > li > a:focus {
      background-color: white;
      border-radius: 50%; }
  .navbar .login-button {
    float: right;
    border: 1px solid white;
    margin-top: 10px;
    background: white;
    outline: none !important; }
  .navbar .welcome {
    float: right;
    margin-top: 12px; }
    .navbar .welcome span {
      color: white; }
    .navbar .welcome a {
      color: #f30046;
      cursor: pointer; }

#jitsiConference0 {
  display: block;
  width: 100% !important;
  height: 100% !important; }

#jitsi {
  height: 100%; }

#remoteVideos {
  display: none; }

#bottomToolbar {
  display: none; }

#home h1 {
  margin-top: 40px;
  text-align: center; }

.page {
  padding: 0; }

.sidebar {
  float: left;
  background-color: #eee;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0; }

.content {
  float: left;
  padding: 0; }

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh; }

#login-form {
  width: 40%;
  margin: 0 auto; }

.jit {
  color: blue; }

.jitsiContainer {
  height: 33vh;
  width: 100%; }
