$title-yellow:#F5A623;
$title-orange:#EE7A53;
$title-orange-2:lighten(#EE7852, 5%);
$title-yellow-dark: darken($title-yellow, 5%);
$title-blue:#4A90E2;
$title-dark-grey:#4A4A4A;
$title-light-grey:#9B9B9B;
$title-muted-grey:#DADFEA;
$back-color-1:lighten(#6A90AB,25%);
$back-color-original: #FAFBFF;
$back-color-2:lighten(#3B4F5B, 40%);
$sdiebar-color:#2E2E2E;
$back-color-3:lighten(#2E2E2E, 35%);
$back-color-4: #F7F7F7;

* {
  box-sizing: border-box;
}

body {
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.center-text{
  text-align: center;
}

.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

#main {
  background-color: $back-color-4;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  min-height: 95vh;
  overflow-y:auto;
}
.row{
  margin:0;
}

#testBar{
  background-color: $title-dark-grey;
}

@import 'directives/main';
@import 'home/main';
@import 'landing/main';
@import 'login/main';
@import 'classroom/main';
@import 'profile/main';
@import 'signup/main';
@import 'admin/adminview/main';
@import 'Dashy';

