$title-yellow:#F5A623;
$title-blue:#4A90E2;
$title-dark-grey:#4A4A4A;
$title-light-grey:#9B9B9B;
$title-muted-grey:#DADFEA;


* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.center-text{
  text-align: center;
}

.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

#main {
  background-color: $title-muted-grey;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  min-height: 95vh;
  overflow-y:auto;
}
.row{
  margin:0;
}

#testBar{
  background-color: $title-dark-grey;

}

@import 'directives/main';
@import 'home/main';
@import 'landing/main';
@import 'login/main';
@import 'classroom/main';
@import 'profile/main';
@import 'signup/main';

