$title-yellow:#F5A623;
$title-orange:#EE7A53;
$title-orange-2:lighten(#EE7852, 5%);
$title-yellow-dark: darken($title-yellow, 5%);
$title-blue:#4A90E2;
$title-dark-grey:#4A4A4A;
$title-light-grey:#9B9B9B;
$title-muted-grey:#DADFEA;
$back-color-1:lighten(#6A90AB,25%);
$back-color-original: #FAFBFF;
$back-color-2:lighten(#3B4F5B, 40%);
$sdiebar-color:#2E2E2E;
$back-color-3:lighten(#2E2E2E, 35%);
$back-color-4: #F7F7F7;
$button-yellow: #e8b769;
$khan-blue: #46A8BF;
$khan-white: #FDFDFD;
$khan-white2: #f0f0f0;
$dashy-grey: #999;

* {
  box-sizing: border-box;
}

body {
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.fullHeight{
  height:100%;
}
.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

.indent-1{
  margin-left:8.3333333333333% !important;
}

#main {
  background-color: $back-color-4;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  min-height: 95vh;
  overflow-y:auto;
}
.row{
  margin:0;
}

#testBar{
  background-color: $title-dark-grey;
}


textarea{
  resize: none;
}

.panel.panel-theme > .panel-heading {
  color: #fff;
  background-color: $khan-blue;
  border-color: #67b0c1;
}

.btn.btn-theme{
  background-color: $khan-blue;
  color: white;
  font-family: Lato, sans-serif !important;
}


@import 'directives/main';
@import 'home/main';
@import 'landing/main';
@import 'classroom/main';
@import 'profile/main';
@import 'admin/adminview/main';
@import 'dashboard/main';
@import 'login/main';
@import 'calendar/main';
