.social-feed {
	overflow: auto;
	max-height: 204px;
	border-bottom: 1px solid shade($color-white-shade, 4%);
	margin-bottom: 30px;
}

.social-feed > ul {
	list-style: none;
	padding-left: 0;
}

.social-feed li {
	padding: 10px 0 10px 10px; 
	// border-bottom: 1px solid shade($color-white-shade, 4%);

	&:nth-child(odd) {
		background: $color-white-shade;
	}
}
