//ANIMATIONS///////////


//bounce
@-webkit-keyframes bounceRight {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);} 
 40% {-webkit-transform: translateX(15px);}
 60% {-webkit-transform: translateX(30px);}
}
 
@-moz-keyframes bounceRight {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateX(0);}
 40% {-moz-transform: translateX(15px);}
 60% {-moz-transform: translateX(30px);}
}
 
@-o-keyframes bounceRight {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateX(0);}
 40% {-o-transform: translateX(15px);}
 60% {-o-transform: translateX(30px);}
}
@keyframes bounceRight {
 0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
 40% {transform: translateX(15px);}
 60% {transform: translateX(30px);}
}

@-webkit-keyframes bounceLeft {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);} 
 40% {-webkit-transform: translateX(-15px);}
 60% {-webkit-transform: translateX(-30px);}
}
 
@-moz-keyframes bounceLeft {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateX(0);}
 40% {-moz-transform: translateX(-15px);}
 60% {-moz-transform: translateX(-30px);}
}
 
@-o-keyframes bounceLeft {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateX(0);}
 40% {-o-transform: translateX(-15px);}
 60% {-o-transform: translateX(-30px);}
}
@keyframes bounceLeft {
 0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
 40% {transform: translateX(-15px);}
 60% {transform: translateX(-30px);}
}

//fade

@-webkit-keyframes fadein {
 from { opacity: 0; }
    to   { opacity: 1; }
}
 
@-moz-keyframes fadein {
 from { opacity: 0; }
    to   { opacity: 1; }
}
 
@-o-keyframes fadein {
 from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadein {
 from { opacity: 0; }
    to   { opacity: 1; }
}


.animate-if {
}

.animate-if.ng-enter{
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}